body { background: #d8f971; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 59px; display: flex; }
.block-uploader-0 { color: #eb6812; font-size: 15px; margin-bottom: 5px; }
.block-user-1 { color: #4d0c0a; font-size: 16px; margin-bottom: 5px; }
.block-helper-2 { color: #a33c80; font-size: 19px; margin-bottom: 5px; }
.block-filter-3 { color: #d61da8; font-size: 14px; margin-bottom: 5px; }
.block-user-4 { color: #dac2; font-size: 17px; margin-bottom: 5px; }